tensorboard
torch==1.9.0
#torchaudio==0.9.0a0+33b2469
#torchvision==0.10.0
pandas
jupyterlab
click
pyyaml
attrdict
scikit-learn==1.0.2
optuna
flask
flask-restful
beautifulsoup4
requests
tqdm
colorama
matplotlib
seaborn